/* .infoBox .img:hover{
    background-color: white;
}
.infoBox .img > img:hover{
    background-color: white;
} */
.infoBox .footer > div > a{
    font-size: 0.9em;
    color: blue;
    cursor: pointer;

}
.infoBox .footer > div > a:hover{
    color: rgb(49, 4, 107)
}