.sidebar {
    left: 75%;
    height: 550px;
    border-left: 2px solid black;
}
.sidebar > div{
    letter-spacing: 1.5px;
    color: black;
    border: 1px solid rgba(165, 164, 164, 0.658); 
    cursor: pointer;
}

.sidebar .receiver{
    border: 2px solid blue;
}
.sidebar small{
    font-size: 1.7em;
    color: red;
}
.sidebar .displayNone{
    visibility:hidden;
}