
img{max-width:100%;}
/*-- end reset --*/
.signin{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.main-img {
    height: 100%;
    font-family: 'Muli', sans-serif;
    background: url(../images/1.jpg)no-repeat center 0px;
	-webkit-background-size:cover;
	-moz-background-size:cover; 
	background-size:cover;
    background-attachment: fixed;
} 

.header-main a:hover {
    color: rgb(255, 244, 83)
}
.dott{  
    
    height: 100%;   
    
    padding-top: 0.1px;
    background: url(../images/dott.png)no-repeat center 0px;
    -webkit-background-size:cover;
    -moz-background-size:cover; 
    background-size:cover;
    background-attachment: fixed;
    
}
.icon1 input::placeholder{
    font-size: 1.2rem !important;
}
.icon1 input{
    font-size: 1.1em !important;

}


.icon1 {
    margin: 0 0 2em;
    border: 1px solid #525252cb;
    padding: .7em 0em;
    background:rgba(29, 28, 28, 0.774);
    border-radius: 26px;
}


/* a:hover {
    color: #ff4f81;
} */
.bottom {
    margin: 1em 0 0;
}
.header-main {
   
    width: 35%;
    margin: 0 auto;
    text-align: center;
    position: relative;
    /* z-index:1; */
	margin:9em auto 0;
}
.signin h2 {
    color: #fff;
    letter-spacing: 10px;
    font-weight: 700;
    font-size: 3em;
    text-align: center;
    padding-bottom: 60px;
    margin-top: 160px;
}


.signin input[type="email"],.signin input[type="password"]{
    margin: 10px 0px;
    text-align: center;
    outline: none;
    font-size: 1.3em;
    color: black;
    border:none;
    padding: 10px;
    border-radius: 25px;
    letter-spacing: 2px;
}


.signin input[type="button"] {
    background: #3be8b0;
    color: #FFF;
    font-size: 1.7em;
    /* padding: .5em 0.5em; */
    letter-spacing: 1px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    cursor: pointer;
    outline: none;
    border: none;
	font-family: 'Muli', sans-serif;
    border-radius: 25px;
}

.signin p {    
    margin: 20px 0 0;
}
.signin p a {
    color: white;
    font-size: 1.2em;
    text-decoration: underline;
}
.signin span{
    color: white;
}
.signin p a:hover {
    color: #3be8b0;
    text-decoration: underline;
}




