.nav li{
    margin: 0px 10px;
}
.navbar-header a{
    font-size: 1.5em;
}
.navbar-default,.navbar{
    /* margin: 0px; */
    padding: 0px
}
.navbar{
    z-index: 1000;
    padding: 5px;
    background-color: black;
    color: white
}
.navbar a{
    
    color: white;
}
.active-class{
    color: blueviolet;
    text-decoration: underline;
}
@media (max-width : 760px){
    .links{
        display: none
    }
    .navbar-header{
        text-align: center !important;
        /* margin-left: 50px; */
        margin: auto
    }
}